In [9]:
# librairies
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

Ouverture du dataset et analyse des données

In [10]:
df = pd.read_csv('./Data/loyers.csv')
df.head()

,departement,id_ville,ville,date,loyer_m2_appartement,loyer_m2_maison
0,1,1,L'Abergement-Clémenciat,2018,9.372335,8.191701
1,1,2,L'Abergement-de-Varey,2018,8.635552,7.441199
2,1,4,Ambérieu-en-Bugey,2018,10.074507,8.411184
3,1,5,Ambérieux-en-Dombes,2018,9.372335,9.039551
4,1,6,Ambléon,2018,8.966955,8.058265

In [11]:
df.shape

(70421, 6)

In [12]:
# Analyse des types de données
df.dtypes

departement              object
id_ville                  int64
ville                    object
date                      int64
loyer_m2_appartement    float64
loyer_m2_maison         float64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70421 entries, 0 to 70420
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   departement           70421 non-null  object
 1   id_ville              70421 non-null  int64
 2   ville                 70421 non-null  object
 3   date                  70421 non-null  int64
 4   loyer_m2_appartement  70421 non-null  float64
 5   loyer_m2_maison       70421 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.2+ MB

In [14]:
# Verification des valeurs nulles
df.isna().sum()
# Pas de valeurs nulles dans notre dataset.

departement             0
id_ville                0
ville                   0
date                    0
loyer_m2_appartement    0
loyer_m2_maison         0
dtype: int64

On veut avoir le prix d'un appartement ou d'une maison en fonction d'une superficie. 
On decide d'aller sur une moyenne de superficie en fonction des types d'appartement en se limitant au loft
Source : https://eldorado-immobilier.com/definition-t1t2t3t4-studio-quelle-surface-et-combien-de-pieces/
Source pour la taille moyenne d'une maison en france : https://www.lamaisonsaintgobain.fr/blog/insolites/metre-carre-et-confort-connaissez-vous-la-moyenne-francaise

Taille moyenne des logements : 
Studio - 9m²
T1 - 32m²
T1 bis- 35m²
T2 - 45m²
T2 bis - 50m²
T3 - 65 m²
T4 - 80m²
T5 - 95m²
Loft - 100m²
Maison - 113,8

In [15]:
# Creation des colonnes pour les appartements et maisons à partir de données moyennes

df['prix_appart_studio'] = 9 * df['loyer_m2_appartement']
df['prix_appart_t1'] = 32 * df['loyer_m2_appartement']
df['prix_appart_t1_bis'] = 35 * df['loyer_m2_appartement']
df['prix_appart_t2'] = 45 * df['loyer_m2_appartement']
df['prix_appart_t2_bis'] = 50 * df['loyer_m2_appartement']
df['prix_appart_t3'] = 65 * df['loyer_m2_appartement']
df['prix_appart_t4'] = 80 * df['loyer_m2_appartement']
df['prix_appart_t5'] = 95 * df['loyer_m2_appartement']
df['prix_appart_loft'] = 100 * df['loyer_m2_appartement']
df['prix_maison'] = 100 * df['loyer_m2_maison']

In [16]:
df

,departement,id_ville,ville,date,loyer_m2_appartement,loyer_m2_maison,prix_appart_studio,prix_appart_t1,prix_appart_t1_bis,prix_appart_t2,prix_appart_t2_bis,prix_appart_t3,prix_appart_t4,prix_appart_t5,prix_appart_loft,prix_maison
0,1,1,L'Abergement-Clémenciat,2018,9.372335,8.191701,84.351018,299.914731,328.031737,421.755091,468.616767,609.201798,749.786828,890.371858,937.233535,819.170110
1,1,2,L'Abergement-de-Varey,2018,8.635552,7.441199,77.719968,276.337665,302.244321,388.599841,431.777601,561.310881,690.844162,820.377442,863.555202,744.119870
2,1,4,Ambérieu-en-Bugey,2018,10.074507,8.411184,90.670564,322.384227,352.607748,453.352819,503.725354,654.842960,805.960566,957.078173,1007.450708,841.118393
3,1,5,Ambérieux-en-Dombes,2018,9.372335,9.039551,84.351018,299.914731,328.031737,421.755091,468.616767,609.201798,749.786828,890.371858,937.233535,903.955114
4,1,6,Ambléon,2018,8.966955,8.058265,80.702594,286.942556,313.843420,403.512969,448.347743,582.852066,717.356389,851.860712,896.695486,805.826493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70416,974,420,Sainte-Suzanne,2022,12.894894,11.081881,116.054049,412.636620,451.321303,580.270247,644.744719,838.168135,1031.591550,1225.014966,1289.489438,1108.188059
70417,974,421,Salazie,2022,11.414560,8.761534,102.731041,365.265924,399.509604,513.655206,570.728006,741.946408,913.164810,1084.383212,1141.456013,876.153356
70418,974,422,Le Tampon,2022,12.234554,10.206842,110.110983,391.505719,428.209380,550.554917,611.727685,795.245991,978.764296,1162.282602,1223.455371,1020.684183
70419,974,423,Les Trois-Bassins,2022,13.875843,11.077257,124.882587,444.026977,485.654507,624.412937,693.792152,901.929798,1110.067444,1318.205089,1387.584304,1107.725702
70420,974,424,Cilaos,2022,12.337127,8.959241,111.034139,394.788051,431.799431,555.170696,616.856329,801.913228,986.970127,1172.027026,1233.712659,895.924068

Attribution des villes et departements à leurs differentes regions

Source : https://www.regions-departements-france.fr/

In [19]:
df2 = pd.read_csv('./Data/regions_departement_de_france_2024.csv', sep=";")
df2

      N°              Département                      Région
0      1                      Ain        Auvergne-Rhône-Alpes
1      2                    Aisne             Hauts-de-France
2      3                   Allier        Auvergne-Rhône-Alpes
3      4  Alpes-de-Haute-Provence  Provence-Alpes-Côte d'Azur
4      5             Hautes-Alpes  Provence-Alpes-Côte d'Azur
..   ...                      ...                         ...
96   971               Guadeloupe                  Guadeloupe
97   972               Martinique                  Martinique
98   973                   Guyane                      Guyane
99   974               La Réunion                  La Réunion
100  976                  Mayotte                     Mayotte

[101 rows x 3 columns]

In [28]:
# Fusionner les DataFrames df et df2 en fonction de la colonne 'departement' de df
df_merged = pd.merge(df, df2, left_on='departement', right_on='N°', how='left')

# Mettre à jour la colonne 'region' dans df avec les valeurs de la colonne 'Région' de df2
df_merged['region'] = df_merged['Région']

# Supprimer les colonnes inutiles après la fusion
df_merged.drop(columns=['N°', 'Région'], inplace=True)

In [31]:
df_merged = df_merged[[ 'region','departement','Département','id_ville','ville','date','loyer_m2_appartement','loyer_m2_maison','prix_appart_studio','prix_appart_t1','prix_appart_t1_bis','prix_appart_t2','prix_appart_t2_bis','prix_appart_t3','prix_appart_t4','prix_appart_t5','prix_appart_loft','prix_maison']]
df_merged

,region,departement,Département,id_ville,ville,date,loyer_m2_appartement,loyer_m2_maison,prix_appart_studio,prix_appart_t1,prix_appart_t1_bis,prix_appart_t2,prix_appart_t2_bis,prix_appart_t3,prix_appart_t4,prix_appart_t5,prix_appart_loft,prix_maison
0,Auvergne-Rhône-Alpes,1,Ain,1,L'Abergement-Clémenciat,2018,9.372335,8.191701,84.351018,299.914731,328.031737,421.755091,468.616767,609.201798,749.786828,890.371858,937.233535,819.170110
1,Auvergne-Rhône-Alpes,1,Ain,2,L'Abergement-de-Varey,2018,8.635552,7.441199,77.719968,276.337665,302.244321,388.599841,431.777601,561.310881,690.844162,820.377442,863.555202,744.119870
2,Auvergne-Rhône-Alpes,1,Ain,4,Ambérieu-en-Bugey,2018,10.074507,8.411184,90.670564,322.384227,352.607748,453.352819,503.725354,654.842960,805.960566,957.078173,1007.450708,841.118393
3,Auvergne-Rhône-Alpes,1,Ain,5,Ambérieux-en-Dombes,2018,9.372335,9.039551,84.351018,299.914731,328.031737,421.755091,468.616767,609.201798,749.786828,890.371858,937.233535,903.955114
4,Auvergne-Rhône-Alpes,1,Ain,6,Ambléon,2018,8.966955,8.058265,80.702594,286.942556,313.843420,403.512969,448.347743,582.852066,717.356389,851.860712,896.695486,805.826493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70416,La Réunion,974,La Réunion,420,Sainte-Suzanne,2022,12.894894,11.081881,116.054049,412.636620,451.321303,580.270247,644.744719,838.168135,1031.591550,1225.014966,1289.489438,1108.188059
70417,La Réunion,974,La Réunion,421,Salazie,2022,11.414560,8.761534,102.731041,365.265924,399.509604,513.655206,570.728006,741.946408,913.164810,1084.383212,1141.456013,876.153356
70418,La Réunion,974,La Réunion,422,Le Tampon,2022,12.234554,10.206842,110.110983,391.505719,428.209380,550.554917,611.727685,795.245991,978.764296,1162.282602,1223.455371,1020.684183
70419,La Réunion,974,La Réunion,423,Les Trois-Bassins,2022,13.875843,11.077257,124.882587,444.026977,485.654507,624.412937,693.792152,901.929798,1110.067444,1318.205089,1387.584304,1107.725702
70420,La Réunion,974,La Réunion,424,Cilaos,2022,12.337127,8.959241,111.034139,394.788051,431.799431,555.170696,616.856329,801.913228,986.970127,1172.027026,1233.712659,895.924068

Après agencement du dataframe, place à la visualisation des comparaisons et leurs analyses